body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#f8f9fa;
}

.card {
    border: none;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
}

.card-title {
    font-weight: 600;
    color: #555;
}
.task-card {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: grab;
    border: 1px solid #e9ecef;
    transition: transform 0.2s ease;
}
.task-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.task-card.dragging {
    opacity: 0.8;
    transform: rotate(3deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.tasks-container {
    min-height: 100px;
    padding-top: 10px;
    
}
.h1{
    color: darkblue;
}